{% extends 'base.html.twig' %}

{% block title %}Hello TestController!{% endblock %}

{% block body %}
<div>
    <h1>Hello TestController!</h1>
    <p>TestController is a controller that is used to test the routing system.</p>
</div>
{% endblock %}
