{% extends 'base.html.twig' %}

{% block title %}New TrailRunning{% endblock %}

{% block body %}
    <h1>Create new TrailRunning</h1>

    {{ include('trail_running/_form.html.twig') }}

    <a href="{{ path('app_trail_running_index') }}">back to list</a>
{% endblock %}
